<!-- listing_list.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ogłoszenia</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <!-- Linki do logowania, rejestracji, i wylogowywania -->
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'create_listing' %}">Add Listing</a></li>
          <!-- Przycisk do dodania ogłoszenia -->
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <h1>Ogłoszenia</h1>

    {% for listing in listings %}
    <div>
      <h3>{{ listing.title }}</h3>
      <p>{{ listing.description }}</p>
      <p>Price: ${{ listing.price }}</p>
      <p>Location: {{ listing.location }}</p>
      <p>Seller: {{listing.seller.username}}</p>
    </div>
    {% endfor %}
  </body>
</html>
